body {
	margin: 20px;
}

#environment {
	width: 100%;
	height: 100%;
	background-color: blue;
}

#environment .fullscreen-button {
	padding: 10px;
	background-color: red;
	color: white;
	display: inline-block;
}

#environment .fullscreen-button:hover {
	background-color: green;
}