html,
body,
ul,
li,
form,
input,
label {
  border: none;
  margin: 0px;
  padding: 0px;
}

ul,
li {
  list-style-type: none;
}

html,
body,
#streetView {
  font-family: sans-serif;
  font-size: 10px;
  height: 100%;
}

#streetViewTools {
  line-height: 2;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 250px;
  z-index: 1000;
}

#streetViewTools .street-view-data,
#streetViewTools .street-view-giro {
  background-color: rgba(255, 255, 255, .75);
  padding: 10px;
}

#streetViewTools .street-view-data b,
#streetViewTools .street-view-giro b {
  display: inline-block;
  font-weight: 700;
  width: 35%;
}

#streetViewTools .street-view-giro {
  margin-top: 10px;
}